#ctitle{
    margin-top: 1vh;
}


.cont{
    width: 100vw;
    height: 100vh;
    position: fixed;
    filter: blur(20px);

}

#page{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: white;
}
#outline{
    align-items: center;
    position:fixed;
    display: inline-block;
    background-color: #BE2424;
    width: 80vw;
    height: 80vh;
    top: 10vh;
    left: 10vw;
    z-index: -1;
    align-items: center;
    border-radius: 10px;
    background-size: 30vh;
    background-position: 50%;
    background-repeat: no-repeat;
    justify-content: center;
}
iframe{
    width:94%; 
    height:85%; 
    margin-bottom: 0;
    border-width: 5px;
    border-radius: 5px;

}

#retitle{
    background-image: url('../Components-Welcome/YYC-Tech-Connect.PNG');
    margin-top: 1%;
    margin-bottom: 1%;
    height: 5%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#backgroundimage2{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    background-image: url('../Components-Welcome/CalgaryBackground2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
    top:50%;
    transform: translateY(-50%);
  }
