*{
    text-align: center;
}
.blur {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    filter: blur(20px);
    background-color: rgba(0,0,0,0.2);
}
.blur2{
   
    background-color: clear; 
    height: 100vh;
    width: 100vw;
    margin: auto;
    transition-duration: 1s;
}
.total{
    


   
        display: flex;
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
}

.


.total2{
	display:none
}

.box{
    position: absolute;
    width: 40vw;
    height: 40vh;
    background-color: #BE2424;
    margin: auto;
    top: 50%;
    margin-top: -20vh;
    border-radius: 10px;
    
}
.box2{
    position: absolute;
    width: 50vw;
    height: 50vh;
    background-color: #BE2424;
    margin: auto;
    top: 50%;
    margin-top: -25vh;
    border-radius: 1px;
    transition-duration: 500ms;
}
.box3{
    width: 50vh;
    height: 50vh;
    position: absolute;
    background-color: #BE2424;
    margin: auto;
    top: 50%;
    margin-top: -25vh;
    border-radius: 500px;
    transition-duration: 500ms;
    transform: scale(0);
}

#successtitle{
    background-image: url('../components/Success.jpg');
    background-repeat: no-repeat;
    height: 20%;
    background-position-x: center;
    margin: 20px 0;
    width: 100%;
    background-size: contain;
}
h2{
    font-family: Roboto;
    margin-top: 0;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

#button{
    width: 80%;
    height: 15%;
    background-color: white;
    color: black;
    font-family: Roboto
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
