@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  background: #000;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}





.rounded-buttons{
    border-radius: 70px;
    font-size: 26px;
    color: #DF5237;
    text-align: right;
    position: center;
    padding: 20px;
    border: none;
}



.rounded-buttons:hover{
        background-color: #DF5237;
        color: white;
}



#signIn{
    display: flex;
    align-content: center;
    border-radius: 25px;
    background: #FFBE4A;
    padding: 20px;
    width: 450px;
    height: 400px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.eventHandlers{
    display: flex;
    align-content: center;
    border-radius: 25px;
    background: #FFBE4A;
    padding: 20px;
    width: 630px;
    height: 680px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#view{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#calendar{
    position: absolute;
    left: 15%;
}

#evnts{
    font-size: 26px;
    position: absolute;
    padding: 20px;
    font-weight: bold;
    background-color:#DF5237;
    color:white;
    bottom: 15%;
    border: none;
}

#evnts:hover{
        background-color: white;
        color: #DF5237;
}



#add{
    position: absolute;
    bottom: 4%;
    left: 40%;

}

.nav{
    font-size: 40px;
    position: absolute;
    left: 1%;
    color: black;
    text-decoration: none;
}



.content {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content h2 {
  color: #fff;
  font-size: 8em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #DF5237;
}

.content h2:nth-child(2) {
  color: #DF5237;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}