{% extends 'base.html' %}
{% block content %}
  <div class="content">
    <h2>Calvent</h2>
    <h2>Calvent</h2>
  </div>

        <div id="signIn">
        <form action="/auth" id="login">
            <input type="submit" value="Sign In with EventBrite" alt="img" class="rounded-buttons" />
            <br>
            <br>
        </form>
        <form action="/view" id="view">
            <input type="submit" value="View Calendar" class="rounded-buttons" />
        </form>

            </div>
{% endblock %}

