<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="UTF-8">
    <title>{{name}}</title>

</head>
    <body>
        <div id="signIn">
        <form action="/auth" id="login">
            <input type="submit" value="Sign In with EventBrite " class="rounded-buttons" />
            <br>
        </form>
        <form action="/view" id="view">
            <input type="submit" value="View Calendar" class="rounded-buttons" />
        </form>
            </div>

    </body>
</html>